.vscode/
Assignment3/INFOB3APML Assignment 3.pdf
Assignment3/others/__pycache__/viz.cpython-311.pyc
Assignment3/others/data/filtered_data.txt
Assignment4/mazelab/
.DS_Store
Assignment2/.DS_Store
Assignment2/notebooks/.DS_Store
Assignment3/.DS_Store
Assignment3/others/.DS_Store
Assignment3/others/.ipynb_checkpoints/
Assignment3/others/data/.DS_Store